# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/
ENV/

# Data and models
*.h5
*.weights
.deepface/
.retinaface/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
